@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Fix para Leaflet en Next.js */
.leaflet-container {
  z-index: 1;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}
